* {
  font-family: Helvetica;
  background-color: black;
  color: seashell;
  font-size: 22px;
  opacity: 0.9;
}

body {
  min-height: 100vh;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  background: #000;
  color: #fff5ee;
}


header {
  background-color: #000;
  display: flex;
  position: fixed;
  width: 100%;
  max-height: 69px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid seashell;
  top: 0;
  z-index: 1;
}

header #logo {
  height: 50px;
  margin: 5px 0px 5px 10px;
}

nav {
  border-bottom: 1px solid seashell;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

nav ul li {
  list-style: none;
  padding: 0px 5px;
}

nav li a {
  cursor: pointer;
  margin-right: 30px;
  margin-top: 20px;
  position: relative;
  color: white;

}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  opacity: 0.9 !important;
}

.background-img-one {
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-size: cover;
  width: 1200px;
  height: 700px;
  margin: 60px 0px 75px 0px;
}

.middle-black-block {
  width: 1200px;
  height: 100px;
  position: relative;
  top: 300px;
  text-align: center;
}

.middle-black-block h2 {
  padding-top: 5px;
  font-weight: bold;
}

.middle-black-block h4 {
  margin-top: 15px;
  font-weight: bold;
}

.section-two {
  width: 1000px;
}

.section-two h2,
p {
  text-align: center;
  font-weight: 800;
  margin-bottom: 25px;
}

.middle {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.middle img {
  width: 300px;
  height: 200px;
}

.middle img:hover {
  border: 2px solid #fff5ee;
}

.middle .bloc-TeaOfTheMonth {
  margin: 0px 15px;
}

.middle .bloc-TeaOfTheMonth p {
  margin-top: 10px;
}

.container-locations {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 15px;
}

.section-three h2 {
  margin-top: 85px;
  text-align: center;
  font-weight: bold;
}

.background-img-two {
  background: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
  width: 1200px;
  height: 500px;
}

.black-bloc-locations1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  opacity: 1 !important;
  width: 300px;
  height: 350px;
  margin: 0 20px;
}

.black-bloc-locations2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 200px;
  height: 350px;
  margin: 0 20px;
}

.black-bloc-locations3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 200px;
  height: 350px;
  margin: 0 20px;
}

.title-of-bbl {
  margin-top: 10px;
  font-weight: bold;
}

footer {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
}

footer a {
  color: #fff5ee;
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: #fff5ee;
}

footer a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff5ee;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

footer a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.copyright {
  text-align: left;
  margin-left: 20px;
  font-weight: bold;
}

@media only screen and (max-width: 900px) {
  body {
    padding: 0;
  }

  .background-img-one {
    width: 900px;
    height: 600px;
    margin-top: 60px;
    margin-bottom: 50px;
  }

  .middle-black-block {
    width: 900px;
    height: 150px;
    position: relative;
    top: 220px;
    text-align: center;
  }

  .section-two {
    max-width: 900px;
    width: 100%;
    height: auto;
  }

  .section-three {
    max-width: 900px;
    width: 100%;
    height: auto;
    margin-top: 250px;
  }

  footer {
    margin-top: 25px;
  }
}

@media only screen and (min-width: 720px) and (max-width: 899px) {
  body {
    padding: 0;
    font-size: 20px;
  }

  .background-img-one {
    width: 720px;
    height: 500px;
    margin-top: 60px;
    margin-bottom: 50px;
  }

  .middle-black-block {
    width: 720px;
    height: 150px;
    position: relative;
    top: 175px;
    text-align: center;
  }

  .section-two {
    max-width: 720px;
    width: 100%;
    height: auto;
  }

  .section-three {
    max-width: 720px;
    width: 100%;
    height: auto;
    margin-top: 230px;
  }

  footer {
    margin-top: 30px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 719px) {
  body {
    font-size: 16px;
    padding: 0;
  }

  header {
    max-width: 480px;
  }

  nav li a {
    margin: 0;
  }

  main {
    max-height: auto;
  }

  .background-img-one {
    width: 480px;
    height: 300px;
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .middle-black-block {
    width: 480px;
    height: 100px;
    position: relative;
    top: 100px;
    text-align: center;
  }

  .section-two {
    max-width: 480px;
    width: 100%;
    height: auto;
  }

  .section-three {
    max-width: 480px;
    width: 100%;
    height: auto;
    margin-top: 720px;
  }

  .section-three h2 {
    color: #030303;
  }
}