* {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    background-image: "https: //content.codecademy.com/courses/freelance-1/unit-4/img-tea-cozy-logo.png?_gl=1*ehdsiw*_gcl_au*NDQzOTE1MDM1LjE3MzE2MTA1MjU.*_ga*MTgxOTY5NjI3MS4xNzIzNTc1ODQz*_ga_3LRZM6TM9L*MTczNjI3NzUzOS4xMDguMS4xNzM2Mjc3NjE3LjAuMC4w";
}